#background-history {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: -1;

    font-size: 40px;
    opacity: 0.15;

    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        background-color: hsl(0, 0%, 95%);
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);;
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

.achievement-btn {
    background-color: hsl(0, 100%, 55%)
}

.achievement-btn:hover {
    background-color: hsl(0, 100%, 65%)
}

.achievement-btn:active {
    background-color: hsl(0, 100%, 75%)
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    z-index: 999;
}

.popup-content {
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    width: 320px;
}

.popup-content button {
    white-space: normal;
    width: 100%;
}